.App {
  width: 375px;
  height: 667px;
}

.Landing {
  position: relative;
  width: 375px;
  height: 667px;
  background-color: #38846D;
}

.LandingIcon {
  position: absolute;
  left: 58px;
  top: 266px;
}

.LandingGraphicRight {
  position: absolute;
  left: 232px;
}

.Menu {
  position: relative;
  width: 375px;
  height: 839px;
  background-color: #F3E4E1;
}

.Status {
  position: relative;
  width: 375px;
  height: 667px;
  background-color: #E5674E;
}