@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Work+Sans:wght@400;600;700&display=swap');

/* Skärmstorleken - detta är även ändrat i index.css */
.App {
  width: 375px;
  height: 667px;
}

/* Landing */
.Landing {
  position: relative;
  width: 375px;
  height: 667px;
  background-color: #38846D;
}

.LandingIcon, .LandingGraphicLeft, .LandingGraphicRight {
  position: absolute;
}

.LandingIcon {
  left: 58px;
  top: 264px;
}

.LandingGraphicRight {
  left: 232px;
}

/* Menu */
.Header {
  position: fixed;
  z-index: 1;
}

.Menu {
  position: relative;
  width: 375px;
  height: 667px;
  overflow-y: scroll;
  background-color: #F3E4E1;
}

.MenuContent {
  width: 375px;
  height: 839px;
  margin-top: 119px;
}

.MenuContent h1 {
  position: absolute;
  width: 311px;
  height: 60px;
  left: 32px;
  margin: 0;
  font-family: 'PT Serif', 'serif';
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  color: #2F2926;
}

.MenuContent ul {
  padding: 0;
}

.MenuContent li {
  list-style: none;
}

.MenuItemList {
  position: absolute;
  width: 311px;
  margin-top: 80px;
  margin-left: 32px;
  margin-right: 32px;
}

.MenuItem {
  position: relative;
  height: 50px;
  margin-bottom: 32px;
}

.MenuItem button {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: 9px;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 20px;
  border: none;
	outline: inherit;
  cursor: pointer;
  background-color: #2F2926;
  color: white;
}

.MenuItem img {
  position: relative;
  width: 16px;
}

.MenuItem h2 {
  position: absolute;
  width: 194.44px;
  left: 48px; 
  margin: 0;
  font-family: 'PT Serif', 'serif';
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
}

.MenuItem .Line {
  position: absolute;
  width: 120.75px;
  height: 0px;
  left: 120px;
  top: 21px;
  border: 1px dashed rgba(0, 0, 0, 0.4);
}

.MenuItem p {
  position: absolute;
  width: 194.44px;
  left: 48px;
  margin-top: 32px;
  font-family: 'Work Sans','sans-serif';
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #2F2926;
}

.MenuItem h3 {
  position: absolute;
  width: 76.75px;
  right: 0px;
  margin: 0;
  font-family: 'PT Serif', 'serif';
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  text-align: right;
  color: #2F2926;
}

.Footer {
  position: absolute;
  top: 885px;
}

/* Cart */
.CartButton {
  position: fixed;
  z-index: 3;
  width: 60px;
  height: 60px;
  left: 299px;
  top: 16px;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 30px;
  border: none;
	outline: inherit;
  cursor: pointer;
  background-color: #2F2926;
  color: white;
}

.CartNumber {
  position: fixed;
  z-index: 4;
  width: 22px;
  height: 22px;
  left: 336px;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 30px;
  background-color: #E5674E;
  color: white;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 12px;
}

.Cart {
  z-index: 2;
  position: fixed;
  width: 375px;
  height: 667px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.CartArrow {
  z-index: 5;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
}

.CartContent {
  z-index: 5;
  position: absolute;
  left: 4.53%;
  right: 4.53%;
  top: 11.03%;
  bottom: 2.6%;
  background-color: #FFFFFF;
  border-radius: 3px;
}

.CartContent h1 {
  margin-top: 40.77px;
  font-family: 'PT Serif', 'serif';
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #2F2926;
}

.CartContent button {
  position: absolute;
  width: 248px;
  height: 55px;
  left: 47px;
  top: 469.77px;
  border: none;
  border-radius: 50px;
  font-family: 'PT Serif', 'serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  background-color: #2F2926;
}

.CartContent button a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Status */
.Status {
  position: relative;
  width: 375px;
  height: 667px;
  background-color: #E5674E;
}

.DroneIcon {
  position: absolute;
  width: 216.29px;
  height: 119.06px;
  left: 80px;
  top: 139px;
}

.StatusContent h1 {
  position: absolute;
  width: 279px;
  height: 125px;
  left: 48px;
  top: 299px;
  font-family: 'PT Serif', 'serif';
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.StatusContent h2 {
  position: absolute;
  width: 279px;
  height: 37px;
  left: 48px;
  top: 424px;
  font-family: 'Work Sans', 'sans-serif';
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF; 
}

.StatusContent h3 {
  position: absolute;
  width: 279px;
  height: 37px;
  left: 48px;
  top: 62px;
  font-family: 'Work Sans', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.StatusContent button {
  position: absolute;
  width: 184px;
  height: 55px;
  left: 98px;
  top: 530px;
  border: none;
  border-radius: 50px;
  font-family: 'PT Serif', 'serif';
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  background-color: #FFFFFF;
}

.StatusContent button a {
  text-decoration: none;
  color: #2F2926;
}

.add-remove button {
  background-color: transparent;
}

.CartContent .upArrow {
  position: relative;
  left: 84.27%;
right: 13.6%;
top: 28.85%;
bottom: 70.43%;
  color: #2F2926;
}

.CartContent .downArrow {
  position: relative;
  left: 86.4%;
right: 11.47%;
top: 34.66%;
bottom: 64.63%;

color: #2F2926;
}